<div class="container">
  <div class="row g-3">
    <form [formGroup]="formConsulta">
      <div class="d-flex flex-md-row flex-column">
        <div class="flex-fill m-1">
          <label htmlFor="labelFiltro">Filtrar por vendedor ou cliente</label>
          <input pInputText id="labelFiltro" aria-describedby="labelFiltro-texto" formControlName="editFiltro" />
        </div>
        <div class="flex-fill m-1" *ngIf="filiais$ | async as filiais">
          <label>Filtrar por filial</label>
          <p-dropdown
            [options]="filiais"
            formControlName="filialSelecionada"
            placeholder="Selecione uma filial"
            [showClear]="true"
            class="p-dropdown-lg"
            (onChange)="filtrarPorFilial()"
          ></p-dropdown>
        </div>
        <div class="flex-fill m-1" *ngIf="motivosBloqueio$ | async as motivosBloqueio">
          <label>Filtrar por motivo</label>
          <p-dropdown
            [options]="motivosBloqueio"
            formControlName="motivoSelecionado"
            placeholder="Selecione um motivo"
            [showClear]="true"
            (onChange)="obterPedidosComFiltro()"
          ></p-dropdown>
        </div>
        <div class="flex-fill m-1">
          <label>Filtrar por data de expedição</label>
          <p-calendar
            formControlName="intervaloDatas"
            selectionMode="range"
            [readonlyInput]="true"
            [showClear]="true"
            (onClear)="obterPedidosComFiltro()"
            (onClose)="obterPedidosComFiltro()"
          ></p-calendar>
        </div>
      </div>
    </form>

    <ng-container *ngIf="listaFiltradaPedidosBloqueados && listaFiltradaPedidosBloqueados.length > 0">
      <div *ngFor="let pedidoBloqueadoResumo of listaFiltradaPedidosBloqueados" class="col-12 col-md-6 col-lg-4">
        <jhi-pedido-bloqueado-detalhe
          (recarregarPedidos)="obterPedidosBloqueados()"
          [pedidoBloqueadoResumo]="pedidoBloqueadoResumo"
        ></jhi-pedido-bloqueado-detalhe>
      </div>
    </ng-container>
    <p-progressBar *ngIf="carregando" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
  </div>
</div>
