<div class="card shadow">
  <div class="card-header">
    <span class="titulo-card">Pedido bloqueado: {{ pedidoBloqueadoResumo.id }}</span>
  </div>
  <div class="card-body">
    <span class="card-title titulo-card">Vendedor</span>
    <p class="card-text">{{ pedidoBloqueadoResumo.vendedor }}</p>
    <span class="card-title titulo-card">Cliente</span>
    <p class="card-text">{{ pedidoBloqueadoResumo.cliente }}</p>
    <div class="d-flex">
      <div class="d-flex flex-column flex-grow-1">
        <span class="card-title titulo-card">Filial</span>
        <p class="card-text">{{ pedidoBloqueadoResumo.filial }}</p>
      </div>
      <div class="d-flex flex-column flex-grow-1">
        <span class="card-title titulo-card">Valor</span>
        <p class="card-text">{{ pedidoBloqueadoResumo.valor | currency }}</p>
      </div>
    </div>
    <p class="card-title titulo-card">Bloqueio(s)</p>
    <div class="altura-tags">
      <p-tag
        *ngFor="let tipoBloqueio of pedidoBloqueadoResumo.tiposBloqueio"
        class="tag-pedido-bloqueado"
        severity="danger"
        [rounded]="true"
      >
        {{ tipoBloqueio }}
      </p-tag>
    </div>
    <hr />
    <p-toast position="top-center" key="tc"></p-toast>
    <button (click)="mostrarDetalhe()" pButton type="button" label="Detalhar" class="p-button-rounded p-button-sm verde-pochteca"></button>
  </div>
</div>
